<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 1) 공통 head -->
<head th:replace="~{layout/user-default :: head('비밀번호 초기화')}"></head>

<!-- 2) 공통 header -->
<div th:replace="~{layout/user-default :: header}"></div>

<body>
<!-- Loader -->
<div id="gi-overlay">
  <div class="loader"></div>
</div>

<!-- Breadcrumb start -->
<div class="gi-breadcrumb m-b-40">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row gi_breadcrumb_inner">
          <div class="col-md-6 col-sm-12">
            <h2 class="gi-breadcrumb-title">Forgot Password</h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <!-- gi-breadcrumb-list start -->
            <ul class="gi-breadcrumb-list">
              <li class="gi-breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="gi-breadcrumb-item active">Forgot Password</li>
            </ul>
            <!-- gi-breadcrumb-list end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb end -->

<!-- Forgot section -->
<section class="gi-login padding-tb-40">
  <div class="container">
    <div class="section-title-2">
      <h2 class="gi-title">Forgot Password<span></span></h2>
      <p>Enter your email & set password, We send you link.</p>
    </div>
    <div class="gi-login-content">
      <div class="gi-login-box">
        <div class="gi-login-wrapper">
          <div class="gi-login-container">
            <div class="gi-login-form">
              <form action="#" method="post">
                                    <span class="gi-login-wrap">
                                        <label>Email Address*</label>
                                        <input type="text" name="name" placeholder="Enter your email" required>
                                    </span>
                <span class="gi-login-wrap gi-login-btn gi-forgot-btn mt-0">
                                        <a href="reset-password.html" class="gi-btn-1 btn">Submit</a>
                                    </span>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="gi-login-box d-n-991">
        <div class="gi-login-img">
          <img src="assets/img/common/login.png" alt="login">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Forgot section End -->

<div th:replace="~{layout/user-default :: footer}"></div>

<div th:replace="~{layout/user-default :: feature}"></div>

<div th:replace="~{layout/user-default :: scripts}"></div>

<a class="gi-back-to-top"></a>
</body>

</html>