<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드 -->
<head th:replace="~{fragments/user/head :: head}"></head>

<body>

<!-- 공통 헤더 -->
<div th:replace="~{fragments/user/header :: header}"></div>

<!-- Category section -->
<section class="gi-category body-bg padding-tb-40 wow fadeInUp" data-wow-duration="2s">
  <div class="container">
    <div class="row m-b-minus-15px">
      <div class="col-xl-12 border-content-color">
        <div class="gi-category-block owl-carousel">
          <div class="gi-cat-box gi-cat-box-1">
            <div class="gi-cat-icon">
              <div class="gi-cat-detail">
                <a href="shop-left-sidebar-col-3.html">
                  <h4 class="gi-cat-title">탁주</h4>
                </a>
                <p class="items">320 Items</p>
              </div>
            </div>
          </div>
          <div class="gi-cat-box gi-cat-box-2">
            <div class="gi-cat-icon">
              <div class="gi-cat-detail">
                <a href="shop-left-sidebar-col-3.html">
                  <h4 class="gi-cat-title">약주</h4>
                </a>
                <p class="items">65 Items</p>
              </div>
            </div>
          </div>
          <div class="gi-cat-box gi-cat-box-3">
            <div class="gi-cat-icon">
              <div class="gi-cat-detail">
                <a href="shop-left-sidebar-col-3.html">
                  <h4 class="gi-cat-title">청주</h4>
                </a>
                <p class="items">548 Items</p>
              </div>
            </div>
          </div>
          <div class="gi-cat-box gi-cat-box-4">
            <div class="gi-cat-icon">
              <div class="gi-cat-detail">
                <a href="shop-left-sidebar-col-3.html">
                  <h4 class="gi-cat-title">과실주</h4>
                </a>
                <p class="items">48 Items</p>
              </div>
            </div>
          </div>
          <div class="gi-cat-box gi-cat-box-5">
            <div class="gi-cat-icon">
              <div class="gi-cat-detail">
                <a href="shop-left-sidebar-col-3.html">
                  <h4 class="gi-cat-title">증류주</h4>
                </a>
                <p class="items">59 Items</p>
              </div>
            </div>
          </div>
          <div class="gi-cat-box gi-cat-box-6">
            <div class="gi-cat-icon">
              <div class="gi-cat-detail">
                <a href="shop-left-sidebar-col-3.html">
                  <h4 class="gi-cat-title">리큐르</h4>
                </a>
                <p class="items">845 Items</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category section End -->



<!-- 공통 feature -->
<div th:replace="~{fragments/user/feature :: feature}"></div>

<!-- 공통 푸터 -->
<div th:replace="~{fragments/user/footer :: footer}"></div>

<!-- 공통 js -->
<div th:replace="~{fragments/user/js :: js}"></div>

</body>

</html>